<configuration>
  <system.webServer>

    <!-- indicates that the server.js file is a node.js application 
		to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="spgv-cain-api">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
	    nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --no-deprecation --no-warnings --max-old-space-size=12028"
   node_env="production"
    nodeProcessCountPerApplication="4"
   maxConcurrentRequestsPerProcess="4096"
   maxNamedPipeConnectionRetry="400"
   namedPipeConnectionRetryDelay="750"
   maxNamedPipeConnectionPoolSize="2048"
   maxNamedPipePooledConnectionAge="30000"
   asyncCompletionThreadCount="0"
   initialRequestBufferSize="4096"
   maxRequestBufferSize="65536"
   watchedFiles="*.js;iisnode.yml"
   uncFileChangesPollingInterval="5000"
   gracefulShutdownTimeout="60000"
   loggingEnabled="true"
   logDirectory="iisnode"
   debuggingEnabled="true"
   debugHeaderEnabled="false"
   debuggerPortRange="5058-6058"
   debuggerPathSegment="debug"
   maxLogFileSizeInKB="128"
   maxTotalLogFileSizeInKB="1024"
   maxLogFiles="20"
   devErrorsEnabled="true"
   flushResponse="false"
   enableXFF="false"
   promoteServerVars=""
   configOverrides="iisnode.yml"
       />
  </system.webServer>
</configuration>